@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    /* colors */
    --hue-color: 250; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/

    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    /* fonts */
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: 600;
}
  

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar{
    width:10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color:var(--first-color);
    border-radius: 20px;
}

@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}


/* CSS NAV */

.nav-menu {
    border-radius: 1.5rem 1.5rem 0 0;
    bottom:  0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 50px;
    box-shadow: 0 -1px 4px rgb(0,0,0,.15);
    background-color: var(--body-color);
}

.nav-list {
  padding-top: 5px;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}

.nav-item {
    width: 40px;
    height: 40px;
}

.nav-link {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--title-color);
    font-weight: 500;
    transition: all .3s ease-in-out;
}

.nav-link:hover {
    transition: all .3s;
    border-radius: 50%;
    color: #fff;
    background-color: var(--first-color);
}

.active {
    transition: all .3s;
    border-radius: 50%;
    color: #fff;
    background-color: var(--first-color);
}


/* Css home */

.section {
  width: 100%;
  min-height: 100vh;
  padding-top: 10px;
}

.section-title {
    text-align: center;
}

.home-dark {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: var(--first-color);
    padding: 5px 10px;
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
}

.home-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-img {
    width: 280px;
    height: 280px;
    background-color: var(--first-color);
    border-radius: 71% 29% 60% 40% / 30% 30% 70% 70%;
} 

.home-info {
    font-size: var(--normal-font-size);
    padding: 3rem 1rem 1rem 1rem;
    text-align: center;
}

.subtitle {
    color: var(--text-color-light);
    font-size: 1rem;
    padding: 5px 0;
}

.home-text {
    padding: 15px 0 40px 0;
}

.btn-cv {
    padding: 15px;
    border-radius: 15px;
    background-color: var(--first-color);
    color: #fff;
}

/* CSS ABOUT */

.about-myInfos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.about-myInfos img {
    width: 200px;
    margin: 10px 0;
}

.about-me {
    border-radius: 10px;
    background-color: var(--body-color);
}

.about-text {
    padding: 20px 0 ;
}

.about-link {
    color: var(--first-color);
    font-weight: 500;
}

.about-info-qualifications {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
}

.about-qualifications {
    display: flex;
    flex-direction: column;
}

.qualifications-card {
    background-color: var(--body-color);
    display: flex;
    width: 290px;
    height: 130px;
    flex-direction: column;
    padding: 9px;
    margin: 10px;
    border-radius: 10px;
    border: solid .120rem rgb(0,0,0,.15);
    transition: all .3s;
    cursor: pointer;
}

.qualifications-card:hover {
    transition: all .3s;
    box-shadow: 10px 5px 5px rgb(0,0,0,.15);
}

.qualifications-title h3 {
    color: var(--first-color);
    font-size: var(--normal-font-size);
}

.qualifications-title h4 {
    color: var(--body-font);
    font-size: var(--small-font-size);
}

.qualifications-calendar {
    color: var(--text-color-light);
    font-size: var(--smaller-font-size);
}

/* CSS skills */


.skills-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}

.skills-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 300px;
    height: 250px;
    color: var(--first-color);
    font-weight: 500;
    border: 1px solid var(--first-color);
    border-radius: 15px;
    margin: 20px;
}

.title-card {
    color: var(--first-color);
}

.skills-list {
   margin-top: 10px;
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.skills-list li {
    padding: 5px 20px;
}


@media only screen and (min-width: 767px) {

    .home-img {
        width: 22rem;
        height: 22rem;
    }

    .home-text,
    .about-text {
        width: 80%;
        margin: 0 auto;
    }

}


@media only screen and (min-width: 1024px) {

    .nav-menu {
        left: 0;
        width: 50px;
        height: 100vh;
        border-radius: 0 1.8rem 1.8rem 0;
        display: flex;
        justify-content: center;
        padding: 0;
    }

    .nav-list {
        height: 100%;
        flex-direction: column;
    }

    .uil {
        font-size: 1.5rem;
    }

    .home-container {
        height: 100vh;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .home-text,
    .about-text {
        width: 100%;
        margin: 0;
    }

    .home-info {
        width: 40%;
        text-align: start;
    }

    .about-section {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
    }

    .about-myInfos {
        display: flex;
        width: 40%;
    }

    .skills-infos {
        flex-direction: row;
        justify-content: center;
    }
}

/* Animations */

.shadow-pop-tr:hover {
    cursor: pointer;
	-webkit-animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
	        animation: shadow-pop-tr 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}


 @-webkit-keyframes shadow-pop-tr {
    0% {
      -webkit-box-shadow: 0 0 #6e57e0, 0 0 #6e57e0, 0 0 #6e57e0, 0 0 #6e57e0, 0 0 #6e57e0, 0 0 #6e57e0, 0 0 #6e57e0, 0 0 #6e57e0;
              box-shadow: 0 0 #6e57e0, 0 0 #6e57e0, 0 0 #6e57e0, 0 0 #6e57e0, 0 0 #6e57e0, 0 0 #6e57e0, 0 0 #6e57e0, 0 0 #6e57e0;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: 1px -1px #6e57e0, 2px -2px #6e57e0, 3px -3px #6e57e0, 4px -4px #6e57e0, 5px -5px #6e57e0, 6px -6px #6e57e0, 7px -7px #6e57e0, 8px -8px #6e57e0;
              box-shadow: 1px -1px #6e57e0, 2px -2px #6e57e0, 3px -3px #6e57e0, 4px -4px #6e57e0, 5px -5px #6e57e0, 6px -6px #6e57e0, 7px -7px #6e57e0, 8px -8px #6e57e0;
      -webkit-transform: translateX(-8px) translateY(8px);
              transform: translateX(-8px) translateY(8px);
    }
  }
  @keyframes shadow-pop-tr {
    0% {
      -webkit-box-shadow: 0 0 #6e57e0, 0 0 #6e57e0, 0 0 #6e57e0, 0 0 #6e57e0, 0 0 #6e57e0, 0 0 #6e57e0, 0 0 #6e57e0, 0 0 #6e57e0;
              box-shadow: 0 0 #6e57e0, 0 0 #6e57e0, 0 0 #6e57e0, 0 0 #6e57e0, 0 0 #6e57e0, 0 0 #6e57e0, 0 0 #6e57e0, 0 0 #6e57e0;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: 1px -1px #6e57e0, 2px -2px #6e57e0, 3px -3px #6e57e0, 4px -4px #6e57e0, 5px -5px #6e57e0, 6px -6px #6e57e0, 7px -7px #6e57e0, 8px -8px #6e57e0;
              box-shadow: 1px -1px #6e57e0, 2px -2px #6e57e0, 3px -3px #6e57e0, 4px -4px #6e57e0, 5px -5px #6e57e0, 6px -6px #6e57e0, 7px -7px #6e57e0, 8px -8px #6e57e0;
      -webkit-transform: translateX(-8px) translateY(8px);
              transform: translateX(-8px) translateY(8px);
    }
  }
  
